$dark: #080708;
$blue: #08f7fe;
$red: #fe53bb;
$green: #09f8d3;
$yellow: #f5d300;
$text: #efefef;

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.7);
  color: $text;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  background-image: url("../media/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  @extend %center;
}

.yellow {
  border-color: $yellow !important;
}
.blue {
  border-color: $blue !important;
}
.red {
  border-color: $red !important;
}
.green {
  border-color: $green !important;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(4, 150px);
  grid-template-areas:
    "one two two four four 0"
    "one three three four four 0"
    "- - - - - -"
    "- - - - - -";
}
.box {
  border: 2px solid;
  border-radius: 1rem !important;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}

/*
 * Styling Boxes with IDs
*/

#image {
  overflow: hidden;
  @extend %center;
  img {
    width: auto;
    height: 100%;
  }
}

#time {
  @extend %center;
  padding: 2rem;
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
}

#kanji {
  @extend %center;
  justify-content: space-evenly !important;
  padding: 2rem;
  font-family: "Noto Sans JP";
  text-align: center;
  line-height: 1;

  h1 {
    font-size: 4rem;
  }
  div {
    @extend %center;
    flex-direction: column;
  }
}
