$dark: #080708;
$blue: #3772ff;
$red: #df2935;
$yellow: #fdca40;
$text: #e6e8e6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $dark;
  color: $text;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  border-color: $yellow !important;
}
.blue {
  border-color: $blue !important;
}
.red {
  border-color: $red !important;
}

.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(4, 180px);
  grid-template-areas:
    "one two two three three 0"
    "one two two four four 0"
    "- - - - - -"
    "- - - - - -";
}
.box {
  border: 2px solid;
  border-radius: 1rem !important;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}

#image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 100%;
  }
}
