* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #080708;
  color: #e6e8e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yellow {
  border-color: #fdca40;
}

.blue {
  border-color: #3772ff;
}

.red {
  border-color: #df2935;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 12px;
  -ms-grid-columns: (180px)[6];
      grid-template-columns: repeat(6, 180px);
  -ms-grid-rows: (180px)[4];
      grid-template-rows: repeat(4, 180px);
      grid-template-areas: "one two two three three 0" "one two two four four 0" "- - - - - -" "- - - - - -";
}

.box {
  border: 2px solid;
  border-radius: 1rem !important;
}

.one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: two;
}

.three {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.four {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: four;
}
