$dark: #080708;
$blue: #01baef;
$red: #df2935;
$green: #20bf55;
$text: #e6e8e6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.5);
  color: $text;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  background-image: url("../media/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  border-color: $green !important;
}
.blue {
  border-color: $blue !important;
}
.red {
  border-color: $red !important;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(4, 150px);
  grid-template-areas:
    "one three three four four 0"
    "one two two four four 0"
    "- - - - - -"
    "- - - - - -";
}
.box {
  border: 2px solid;
  border-radius: 1rem !important;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}

/*
 * Styling Boxes with IDs
*/

#image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 100%;
  }
}

#kanji {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  font-family: "Noto Sans JP";
  text-align: center;
  line-height: 1;

  h1 {
    font-size: 4rem;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
