/*
* Theme Color from Apple Visual Design Colors
* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/
*/
main, .icon a, #image, #time, #kanji, #kanji div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  color: #1c1c1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  background-image: url("../media/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
}

.blue {
  border-color: #007aff !important;
}

.blue a {
  color: #007aff !important;
}

.green {
  border-color: #34c759 !important;
}

.green a {
  color: #34c759 !important;
}

.indigo {
  border-color: #5856d6 !important;
}

.indigo a {
  color: #5856d6 !important;
}

.orange {
  border-color: #ff9500 !important;
}

.orange a {
  color: #ff9500 !important;
}

.pink {
  border-color: #ff2d55 !important;
}

.pink a {
  color: #ff2d55 !important;
}

.purple {
  border-color: #af52de !important;
}

.purple a {
  color: #af52de !important;
}

.red {
  border-color: #ff3b30 !important;
}

.red a {
  color: #ff3b30 !important;
}

.teal {
  border-color: #5ac8fa !important;
}

.teal a {
  color: #5ac8fa !important;
}

.yellow {
  border-color: #ffcc00 !important;
}

.yellow a {
  color: #ffcc00 !important;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (180px)[6];
      grid-template-columns: repeat(6, 180px);
  -ms-grid-rows: (150px)[4];
      grid-template-rows: repeat(4, 150px);
      grid-template-areas: "one two two four four four" "one three three four four four" "- - - - - -" "- - - - - -";
}

.button {
  border-width: 3px 3px 6px;
  border-style: solid;
  border-radius: 1rem !important;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.button:hover {
  border: 3px solid;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: two;
}

.three {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.four {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: four;
}

.icon {
  overflow: hidden;
}

.icon a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Montserrat";
  line-height: 1;
  color: #1c1c1e;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.icon svg {
  width: 4rem;
  height: 4rem;
  fill: currentColor;
}

/*
 * Styling Boxes with IDs
*/
#image {
  overflow: hidden;
}

#image img {
  width: auto;
  height: 100%;
}

#time {
  padding: 2rem;
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
}

#kanji {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
  padding: 2rem;
  font-family: "Noto Sans JP";
  text-align: center;
  line-height: 1;
}

#kanji h1 {
  font-size: 4rem;
}

#kanji div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
